@import "colors.rasi"

configuration {
    show-icons: false;
}

* {
    font: "Agave Nerd Font Propo 14";
}

window {
    width: 920px;
    location: center;
    anchor: center;

    padding: 26px;

    border-radius: 24px;
    border: 1px;
    border-color: var(border-strong);

    background-color: var(bg);
}

mainbox {
    background-color: transparent;
    spacing: 18px;

    children: [
        "inputbar"
    ];
}

inputbar {
    background-color: var(bg-raised);

    padding: 14px 16px;

    border-radius: 12px;

    border: 1px;
    border-color: var(border-color);

    spacing: 12px;

    children: [
        "prompt",
        "entry"
    ];
}

prompt {
    background-color: transparent;

    text-color: var(accent);

    font: "GeistMono Nerd Font Propo 13";

    vertical-align: 0.5;
}

entry {
    background-color: transparent;

    text-color: var(fg);
    placeholder-color: var(fg-dim);

    font: "GeistMono Nerd Font Propo 13";

    vertical-align: 0.5;

    cursor: text;
}
