* {
  font-family: "Agave Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(20, 20, 20, 0.9);
  color: #eaeaea;
}

#window {
  padding-left: 10px;
}

#network,
#pulseaudio {
  padding: 0 10px;
}

#pulseaudio.muted {
  color: #ff6c6c;
}

